<div class="contnainer">
  <div class="row">
    <div class="box box2 box3 col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2></h2>
        <h1>「中国語の単語を抜き出す」ボタン</h1>
        <h3></h3>
      </div>
      <div class="lower">
        <div class="for-center-responsive">
          <div class="explanation">
            <p>　中国語の単語を抜き出すボタンは、中国語文入力欄に入力した中国語文を1文字すつで区切って、単語フォームに自動で入力するボタンです。</p>
            <p>　「作成」ボタンを押して、投稿する際は、日中両方が入力されている単語のみ保存します。必要ない単語は日本語蘭を空欄のままにすれば、保存されません。また、あまりそれ自体で意味を持たない単語など、いくつかの単語は自動入力から外してあります。外してある単語は以下にリストで示します。</p>
          </div>
        </div>
      </div>
    </div>


    <div class="box box2 box3 col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2></h2>
        <h1>検知されない単語リスト</h1>
        <h3></h3>
      </div>
      <div class="lower for-center-responsive explanation">
        <table class="table table-bordered">
          <tr><td>  . </td></tr>
          <tr><td>  - </td></tr>
          <tr><td>  , </td></tr>
          <tr><td>  1 </td></tr>
          <tr><td>  2 </td></tr>
          <tr><td>  3 </td></tr>
          <tr><td>  4 </td></tr>
          <tr><td>  5 </td></tr>
          <tr><td>  6 </td></tr>
          <tr><td>  7 </td></tr>
          <tr><td>  8 </td></tr>
          <tr><td>  9 </td></tr>
          <tr><td>  0 </td></tr>
          <tr><td>  / </td></tr>
          <tr><td>  | </td></tr>
          <tr><td>  & </td></tr>
          <tr><td>  % </td></tr>
          <tr><td>  $ </td></tr>
          <tr><td>  。 </td>
          <tr><td>  ， </td>
          <tr><td>  ！ </td>
          <tr><td>  １ </td>
          <tr><td>  ２ </td>
          <tr><td>  ３ </td>
          <tr><td>  ４ </td>
          <tr><td>  ５ </td>
          <tr><td>  ６ </td>
          <tr><td>  ７ </td>
          <tr><td>  ８ </td>
          <tr><td>  ９ </td>
          <tr><td>  ０ </td>
          <tr><td>  ？ </td>
        </table>
      </div>
    </div>


  </div>
</div>