<div class="contnainer">
  <div class="row">
    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>Developer's Memo</h2>
        <h1>開発メモ</h1>
        <h3></h3>
      </div>
      <div class="lower develop">
        <h3>今後、付け加えたい機能</h3>
        <ul>
          <li>SNSサイトのようにタイムラインが無限にスクロールで読み込まれる仕様にしたいと考えています。</li>
          <li>単語自動の入力ボタン<a href="/abouts/auto">（詳細）</a>に中和辞書の機能を追加して、自動で単語を読み込ませたいと考えています。いい中和辞典のAPI知ってる方教えてください。</li>
          <li>現在、ボックス消去、ユーザー消去の機能をつけることができていません。ユーザーデータの消去を希望される方はお手数ですが、ご連絡ください。</li>
          <li>ボックスの中での文章の順番整理できるようにしたいです。今は、ボックスに追加した順ではなく、その文章が作成された順で表示されるので、少し使いにくいかもしれません。</li>
        </ul>
        <h3>現在のバグ</h3>
        <ul>
          <li>文章を投稿するとピンインが自動で読み込まれますが、制度があまりよくありません。そのため、自分で投稿した文にはピンインを編集する機能をつけています。各フォルダページにあります。
          <li>自分以外のマイページ内で、favoriteの取り消しを行うと、その文が表示されなくなります。ページを読み込むと直ります。</li>
          <li>タイムラインなどで、ボックスに追加するボタンを押しても、ボックスメニューが非表示になりません。追加されていることが、感覚的にわかりにくいと思いますが、ちゃんと追加されています。</li>
        </ul>
        <h3>変更履歴</h3>
          <ul>
            <li>2017.03.29  サイトオープン</li>
          </ul>
      </div>
    </div>
  </div>
</div>