<div class="contnainer">
  <div class="row">
    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>What is BENTO？</h2>
        <h1>みんなでシェアする中国語学習教材</h1>
        <h3>短文をシェアし合い、あなたに合ったオリジナルの教材を作成しましょう</h3>
      </div>
      <div class="lower">
        <img alt="logo" src="/assets/about1.png" />
      </div>
    </div>


<!--     <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>Get Started</h2>
        <h1>始め方</h1>
        <h3></h3>
      </div>
      <div class="lower">
        <div class="row">
          <div class="col-xs-12 col-sm-6 for-center-responsive get-started" >
            <img alt="get started" src="/assets/about4.png" >
          </div>
          <div class="col-xs-12 col-sm-6">
            <h3>①ユーザー登録を終えたら、My BENTO(マイページ)へ</h3>
            <h3>②ボックスを作成してみてください。</h3>
            <h3>③ボックスの中で新しい文を作成できます。</h3>
            <h3>④追加した文章が表示され、トップページのタイムラインでも全てのユーザーに公開されます。</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 for-center-responsive get-started" >
            <img alt="get started" src="/assets/about5.png" >
          </div>
          <div class="col-xs-12 col-sm-6">
            <h3>トップページでは他の人の作った文章がタイムライン上に表示されています。</h3>
            <h3>⑤「favoriteボタン(ハートマーク)」を押して、お気に入りに登録できます。登録した文章はMy BENTO内の「Favorites」ページに保存されます。</h3>
            <h3>⑥投稿をお気に入りに登録すると、自分のボックスに追加するメニューが出てきます。</h3>
            <h3>⑦「Wordsボタン」を押すと合わせて投稿されている単語の一覧を見ることができます。</h3>
            <h3>⑧メニューからはタイムラインの並び替えや、検索が行えなえます。</h3>
          </div>
        </div>
      </div>
    </div> -->


    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>How to Use？</h2>
        <h1>「文＋単語」で最速の学習を</h1>
        <h3>セットで入力、投稿ぽちっ。</h3>
      </div>
      <div class="lower">
        <img alt="how to post" src="/assets/about2.png" class="how-to-post-img"/>
      </div>
    </div>


    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>My BENTO？</h2>
        <h1>お弁当におかずを詰める感覚でテキスト作成</h1>
        <h3>そのあと、頑張るかは、あなた次第。</h3>
      </div>
      <div class="lower">
        <img alt="how to collect" src="/assets/about3.png" />
      </div>
    </div>


    <div class="box box2 col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>Recommended Usage</h2>
        <h1>オススメ活用法</h1>
        <h3>アウトプットの学習に</h3>
      </div>
      <div class="lower for-center-responsive">
        <div class="for-center">
          <div class="row">
            <div class="col-xs-12 col-sm-6 bottom-margin">
              <h1>スピーキング力強化</h1>
              <div class="row">
                <div class="col-xs-4">
                  <img alt="speaking" src="/assets/speak.png" />
                </div>
                <div class="col-xs-8 for-left">
                  <h2>段階式瞬間英作文で</h2>
                  <h3>語彙力向上<br>＋<br>英作文のスピード向上</h3>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h1>ライティング力強化</h1>
              <div class="row">
                <div class="col-xs-4">
                  <img alt="speaking" src="/assets/write.png" />
                </div>
                <div class="col-xs-8 for-left">
                  <h2>レベルに合った難解英作文で</h2>
                  <h3>語彙力向上<br>＋<br>英作文の正確性向上</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box box2 box3 col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>For Speaking</h2>
      </div>
      <div class="lower">
        <h1 class="for-center-responsive bigger">スピーキングのプロセス</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-6 for-center-responsive">
            <img alt="Process" src="/assets/speaking-process.png" >
          </div>
          <div class="explanation col-xs-12 col-sm-6 ">
            <p>　英語を話すとき、①頭で意味を考え、②意味を即座に英語で口に出すという段階を踏みます。言いたいことは思い浮かぶけど、すぐに英語が出てこないという方には、②のステップをトレーニングすることをオススメします。</p>
            <p>　代表的なトレーニング方法として、「瞬間英作文」と言われるものがあります。瞬間英作文とは、日本語の文章を読むか聞くかして、文章の意味を理解したら、すぐさま英文に翻訳するというトレーニングです。本サイトは瞬間英作文に取り組みやすい作りになっています。</p>
          </div>
        </div>
        <h1 class="for-center-responsive bigger">段階式瞬間英作文</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-6 for-center-responsive">
            <img alt="瞬間英作文の例" src="/assets/imid-trans.png"  class="translation">
          </div>
          <div class="explanation col-xs-12 col-sm-6">
            <p>　瞬間英作文を行うにあたり、本サイトでは、段階を踏むことをオススメしています。日本語文を見て、英文を瞬時に作るトレーニングを行う前に、単語レベルでの瞬間英訳を練習するというものです。文章で使うべき英単語がスムーズに出る状態を作っておくことで、実際に作文を行う段階では、英文を組み立てる方に意識を割いてトレーニングを行うことができます。</p>
            <p>本サイトでは、投稿フォーム内、文章入力欄の下に単語の入力欄を設けていますので、自分に必要な単語をセットで入力してみて下さい。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="box box2 box3 col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>For Writing</h2>
      </div>
      <div class="lower">
        <div class="for-center-responsive">
          <img alt="ライティング" src="/assets/writing.png"  class="translation">
          <div class="explanation">
            <p>　ライティングの学習においても英作文は非常に効果的なトレーニングです。スピーキングとは違い作文のスピードが高いレベルで求められる機会は減ります。しかし、その分、求められる語彙のレベル、文法の正確性が高くなる場合が多くなります。</p>
            <p>　リーディングでは読めるけど、ライティングになると浮かんでこないような単語を「日→英」の形で、地道にトレーニングする必要があります。自分のレベルにあった単語を含む例文を選んで、学習を進めていきましょう。
            </p>
          </div>
        </div>
      </div>
    </div>



    <div class="box box2 box3 col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>Advanced</h2>
        <h1>瞬間英作文に慣れてきた方へ</h1>
        <h3>意味を整理する</h3>
      </div>
      <div class="lower">
        <div class="row">
          <div class="col-xs-12 col-sm-6 for-center-responsive">
            <img alt="Process" src="/assets/process.png" >
          </div>
          <div class="explanation col-xs-12 col-sm-6 ">
            <p>　①のステップで、意味を考えたあと、即座に英語に直訳するのではなく、日本語を「英語に訳しやすい日本語」に一度変換した後に、英作文をするトレーニングも効果的です。</p>
            <p>　慣れてくると、頭で意味を考える時に、日本語ではなく漠然とした意味の塊で捉えられるようになってきます。</p>
            <p>　本サイトでは、原文から変換後の「英語にしやすい日本語」を入力する欄は設けていませんが、頭の中で意識してやってみて下さい。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 for-center-responsive">
            <img alt="advanced" src="/assets/advanced.png" >
          </div>
        </div>
      </div>
    </div>


    <div class="box col-xs-10 col-xs-push-1 col-sm-4 col-sm-push-7">
      <div class="upper">
        <h2>Contact</h2>
      </div>
      <div class="lower contact">
        <h3>bento.english@gmail.com</h3>
        <h3><a href="/abouts/developer"><i class="glyphicon glyphicon-arrow-right"></i>開発メモ</a>
      </div>
    </div>


  </div>
</div>