// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// 全体
.index-content {
    max-width: 1300px;
    margin: 0 auto;
}


// メニュー
.menu {
  margin-bottom: 10px;
}

.menu .current-sentences p{
  margin-top: 10px;
  color: #000000;
}
.menu .current-sentences p span{
  font-size: 25px;
}

.menu .sort-menu .btn{
  border-color: none;
}

.menu ul{
  list-style: none;
  padding: 0;
}

.menu ul li input{
  width: 75%;
  height: 34px;
}

.menu .wrapper{
  text-align: center;
}
.menu .wrapper .btn{
  display: inline-block;
}


.search-menu{
  margin-top: 70px;
}







// メイン
.main{
}


.main .post{
  margin: 0 auto 10px;
  margin-bottom: 30px
}

.main .post .post-part{
}

.main .post .post-part table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
}
.tate{
  float: left;
}
.main .post .post-part .index-name{
  font-size: calc(80% + 0.8vw);
  margin: 0 10px;
}
.main .post .post-part th > img{
  width: auto;
  max-height: 64px;
  border-radius: 5px;
  float: left;
}
.tate span{
  display: block;
}
.tate time{
  margin-left: 15px;
}
.en_sentence p{
  word-wrap: break-word;
}

.sentence-table p{
  margin: 0;
}

// 単語用のボタン位置
.main .wrapper{
  text-align: left;
}
.main .wrapper .btn{
  display: inline-block;
}

.post .panel-body{
  padding: 0;
  background-color: transparent;
}


.post .sentence-table, .post .words-table {
  background-color: white;
}


// いいねボタン
.btnplace{
  float: right;
}




// ページネーション
.wrapper-for-pagination{
  text-align: center;
  margin: 0 10px 10px 10px;
}
.pagination{
  padding: 0 10px;
}
.wrapper-for-pagination .pagination span{
  font-size: calc(80% + 0.8vw);
}
.wrapper-for-pagination .pagination a{
  padding: 10px;
  color: black;
}
.wrapper-for-pagination .pagination .current{
  color: #808080;
  font-size: calc(60% + 0.8vw);
}
.pagination .gap{
  display: none;
}